@import './variables.scss';

.AfterSchool {
	flex: 1 0 auto; /* Sticky Footer */
	
	&__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
	}
}

/* Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.AfterSchool {
		&__container {
			max-width: $screen-md-min - 50px;
		}
	}
}


/* XL Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.AfterSchool {
		&__container {
			max-width: $screen-md-min;
		}
	}
}