.Home__hero_image {
	background: url(../images/kids--large_hats.jpeg) no-repeat;
	background-position: center center;
	background-size: contain;
	height: 250px;
	margin: 0 auto;
	width: 400px;
}

.Home__science-image {
	background: url(../images/pyrex.jpeg) no-repeat;
	background-position: center center;
	background-size: contain;
	height: 200px;
	margin: 0 auto;
	width: 200px;
}

.Home__chocolate-image {
	background: url(../images/chocolate.jpeg) no-repeat;
	background-position: center center;
	background-size: contain;
	height: 50px;
	margin: 0 auto;
	width: 200px;
}