@import './variables.scss';

.Contact {
	flex: 1 0 auto; /* Sticky Footer */
	margin-top: $header-height-xs-min;
	
	&__hero {
		align-items: center;
		background: url(../images/cakepops-500px.png) no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		justify-content: center;
		height: 400px;
		width: 100%;
	}
	
	&__modal {
		background: $overlay-grey;
		border-radius: 20px;
		color: $white;
		height: 300px;
		padding: 10px 30px;
		width: 500px;
	}
	
	& h1 {
		margin: 0;
		text-align: center;
	}
	
	&__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
	}
	
	&__email {
		color: $blackbrown;
		text-decoration: none;
	}
}

/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.Contact {
		margin-top: $header-height-sm-min;
	}
}


/* Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.Contact {
		&__container {
			max-width: $screen-md-min - 50px;
		}
	}
}


/* XL Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.Contact {
		&__container {
			max-width: $screen-md-min;
		}
	}
}