@import './variables.scss';

.Header {
	background-color: $white;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	
	
	&__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
	}
	
	&__logo {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 5px 0 6px;
		text-decoration: none;
		
		&-image {
			background: url('../images/StemChefLogo.svg') no-repeat;
			height: 55px;
			width: 55px;
		} 
		
		&-text {
			color: $blackbrown;
			font-family: 'Jacques Francois', serif;
			font-size: 42px;
			margin: 0;
			padding-left: 10px;
			text-decoration: none;
		}
	}
	
	.Header__logo-text--part1 {
		color: $salmon-dark;
	}
	
	.Header__logo-text--part2 {
		color: $tan-dark;
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin: 0 auto;
		padding: 0;
	}
	
	& li {
		flex-grow: 1;
	}
	
	&__navItem {
		border-bottom: 2px solid transparent;
		color: $blackbrown;
		display: block;
		font-size: 16px;
		line-height: 16px;
		padding: 4px 0 1px;
		text-align: center;
		text-decoration: none;
	}
	
	&__navItem:hover,
	&__navItem:focus, {
		border-bottom: 2px solid $blackbrown;
	}
	
	&__navItem--selected {
		border-bottom: 2px solid $blackbrown;
	}
	
	&__fb {
		background: url('../images/facebook-official.svg') no-repeat;
		background-position: center;
		display: block;
		height: 25px;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		width: 25px;
	}
	
} 



/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.Header {
	
		&__container {
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			max-width: $screen-sm-min - 50px;
		}
		
		&__logo {
		
			&-image {
				background: url('../StemChefLogo.svg') no-repeat;
				height: 65px;
				width: 65px;
			} 

			&-text {
				font-size: 50px;
			}
		}
	
		&__menu {
			align-items: center;
			background-color: $white;
			margin: 0;
		}
		
		&__navItem {
			border-bottom: none;
			padding: 4px 15px 1px;
		}
		
		&__navItem--selected {
			background-color: $white;
			border-bottom: none;
			font-weight: bold;
		}
	
		&__navItem:hover,
		&__navItem:focus, {
			border-bottom: none;
		}
		
		&__underline {
			border-bottom: 2px solid transparent;
		}
		
		&__navItem--selected .Header__underline,
		&__underline:hover,
		&__underline:focus {
			border-bottom: 2px solid $blackbrown;
		}
		
		&__fb {
			margin-left: 15px;
		}
	}
	
}

/* Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.Header {
		&__container {
			max-width: $screen-md-min - 50px;
		}
	}
}

/* XL Desktop Screen Size */

@media (min-width: $screen-lg-min) {
	.Header {
		&__container {
			max-width: $screen-md-min;
		}
	}
}
