@import './variables.scss';

.Header {
	background-color: $salmon;
	flex-shrink: 0; /* Sticky Footer */
	
	&__container {
		max-width: $screen-sm-min - 50px;
	}
	
	&__logo {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 5px 0 6px;
		text-decoration: none;
		
		&-image {
			background: url('../StemChefLogo.svg') no-repeat;
			height: 55px;
			width: 55px;
		} 
		
		&-text {
			color: $navy;
			font-family: 'Jacques Francois', serif;
			font-size: 42px;
			margin: 0;
			padding-left: 10px;
			text-decoration: none;
		}
	}

	&__menu {
		background-color: $lime;
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin: 0 auto;
		padding: 0;
	}
	
	& li {
		flex-grow: 1;
	}
	
	&__navItem {
		border-bottom: 2px solid transparent;
		color: $navy;
		display: block;
		font-size: 16px;
		line-height: 16px;
		padding: 4px 0 1px;
		text-align: center;
		text-decoration: none;
	}
	
	&__navItem:hover,
	&__navItem:focus, {
		border-bottom: 2px solid $darkteal;
	}
	
	&__navItem--selected {
		background-color: $teal;
		border-bottom: 2px solid $darkteal;
	}
	
} 



/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.Header {
	
		&__container {
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			max-width: $screen-sm-min - 50px;
		}
		
		&__logo {
		
			&-image {
				background: url('../StemChefLogo.svg') no-repeat;
				height: 65px;
				width: 65px;
			} 

			&-text {
				font-size: 50px;
			}
		}
	
		&__menu {
			align-items: center;
			background-color: $salmon;
			margin: 0;
		}
		
		&__navItem {
			padding: 4px 15px 1px;
		}
		
		&__navItem--selected {
			background-color: $salmon;
			font-weight: bold;
		}

	}
	
}

/* Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.Header {
		&__container {
			max-width: $screen-md-min - 50px;
		}
	}
}

/* XL Desktop Screen Size */

@media (min-width: $screen-lg-min) {
	.Header {
		&__container {
			max-width: $screen-md-min;
		}
	}
}
