@import './variables.scss';

.Home {
	flex: 1 0 auto; /* Sticky Footer */
	margin-top: $header-height-xs-min;
	padding: 0 10px;
	
	&__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
	}
	
	& h1 {
		font-size: 22px;
		text-align: center;
	}
	
	& button {
		display: block;
		margin: 0 auto;
	}
	
	&__hero_image {
		background: url(../images/kids--celebrating.jpeg) no-repeat;
		background-position: center center;
		background-size: contain;
		height: 250px;
		margin: 0 auto;
		width: 400px;
	}

	&__science-image {
		background: url(../images/pyrex.jpeg) no-repeat;
		background-position: center center;
		background-size: contain;
		height: 200px;
		margin: 0 auto;
		width: 200px;
	}

	&__syringe-image {
		background: url(../images/kids--syringe.jpeg) no-repeat;
		background-position: center center;
		background-size: contain;
		height: 200px;
		margin: 0 auto;
		width: 200px;
	}
	
	
}

/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.Home {
		margin-top: $header-height-sm-min;
	}
}

/* Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.Home {
		&__container {
			max-width: $screen-md-min - 50px;
		}
	}
}


/* XL Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.Home {
		&__container {
			max-width: $screen-md-min;
		}
	}
}

