
/*
 * Mixins
 * ========================================================================== */

@mixin modal--mobile {
	background: $overlay-grey;
	color: $blackbrown;
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-content: center;
	padding: 10px;
	text-align: justify;
	width: 100%;
}

@mixin modal--non-mobile {
	border-radius: 20px;
	height: 300px;
	padding: 10px 30px;
	width: 500px;
}

