@import './variables.scss';
@import './mixins.scss';

.OurStory {
	flex: 1 0 auto; /* Sticky Footer */
	margin-top: $header-height-xs-min;
	
	&__hero {
		align-items: center;
		background: url(../images/popsicle-mobile.png) no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		justify-content: center;
		height: 300px;
		width: 100%;
	}
	
	&__modal {
		@include modal--mobile;
		
		p {
			font-size: 16px;
			text-align: center;
		}
	}
	
	& h1 {
		margin: 0;
		text-align: center;
	}
	
	&__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
		padding: 20px 30px;
		text-align: justify;
	}
	
	&__image {
		background: url(../images/me.jpeg) no-repeat;
		background-position: center center;
		background-size: contain;
		height: 200px;
		margin: 20px auto;
		max-width: 300px;
	}
}


/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.OurStory {
		margin-top: $header-height-sm-min;
		
			&__hero {
			background: url(../images/popsicle-500px.png) no-repeat;
			background-position: center;
			background-size: cover;
			height: 400px;
		}
		
		&__modal {
			@include modal--non-mobile;
			
			p {
				font-size: 18px;
				text-align: justify;
			}
		}
		
		&__container {
			padding: 20px 60px;
		}
		
		&__image {
			float: left;
			height: 195px;
			margin: 16px 30px 20px 0;
			width: 250px;
		}
	}
}


/* Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.OurStory {
		&__container {
			max-width: $screen-md-min - 150px;
		}
		
		&__image {
			height: 234px;
			margin: 16px 30px 20px 0;
			width: 300px;
		}
	}
}


/* XL Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.OurStory {

	}
}