@import './variables.scss';

.OurStory__image {
	background: url(../images/me.jpeg) no-repeat;
	background-position: center center;
	background-size: contain;
	height: 250px;
	margin: 0 auto;
	width: 400px;
}