@import './variables.scss';

.Programs {
	flex: 1 0 auto; /* Sticky Footer */
	
	& h1 {
		margin-bottom: 0;
		text-align: center;
	}
	
	&__nav {
		display: flex;
		justify-content: space-between;
		list-style: none;
		padding: 0;
	}
	
	&__image {
		background: url(../images/kids--large_hats.jpeg) no-repeat;
		background-position: center center;
		background-size: cover;
		height: 300px;
		margin: 0 auto;
		width: 600px;
	}
	

	
}