@import './variables.scss';

.Programs {
	flex: 1 0 auto; /* Sticky Footer */
	margin-top: $header-height-xs-min;
	
	&__hero {
		align-items: center;
		background: url(../images/apple-500px.png) no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		justify-content: center;
		height: 400px;
		width: 100%;
	}
	
	&__modal {
		background: $overlay-grey;
		border-radius: 20px;
		color: $blackbrown;
		height: 300px;
		padding: 10px 30px;
		width: 500px;
	}
	
	& h1 {
		font-size: 32px;
		margin: 0;
		text-align: center;
	}

	
}


/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.Programs {
		margin-top: $header-height-sm-min;
	}
}