@import './variables.scss';
@import './mixins.scss';

.Programs {
	flex: 1 0 auto; /* Sticky Footer */
	margin-top: $header-height-xs-min;
	
	&__hero {
		align-items: center;
		background: url(../images/apple-mobile.png) no-repeat;
		background-position: center;
		background-size: cover;
		display: flex;
		justify-content: center;
		height: 300px;
		width: 100%;
	}
	
	&__modal {
		@include modal--mobile;
		
		p {
			font-size: 16px;
		}
	}
	
	& h1 {
		font-size: 32px;
		margin: 0;
		text-align: center;
	}
	
}


/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.Programs {
		margin-top: $header-height-sm-min;
		
		&__hero {
			background: url(../images/apple-500px.png) no-repeat;
			background-position: center;
			background-size: cover;
			height: 400px;
		}
		
		&__modal {
			@include modal--non-mobile;
			
			p {
				font-size: 18px;
			}
		}
	}
}