@import './variables.scss';

.mapContainer {
	border: 5px solid white;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.4);
	height: 200px;
	margin: 40px auto 10px;
	max-width: 275px;
}

.SummerCamp {
	padding: 0 10px;
	
	&__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
	}
	
	&__camp-image {
		background: url(../images/kids--celebrating.jpeg) no-repeat;
	}

	&__week-1-image {
		background: url(../images/Camp1-Fizz.jpeg) no-repeat;
	}

	&__week-2-image {
		background: url(../images/Camp2-Icecream.jpeg) no-repeat;
	}

	&__week-4-image {
		background: url(../images/Camp4-Chocolate.jpeg) no-repeat;
	}

	&__image {
		background-position: center center;
		background-size: contain;
		height: 250px;
		margin: 0 auto;
		width: 400px;
	}

	& section:nth-child(even) {
		background-color: $babyyellow;
	}

	& section:nth-child(odd) {
		background-color: $lime;
	}
}



/* Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.SummerCamp {
		&__container {
			max-width: $screen-md-min - 50px;
		}
	}
}


/* XL Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.SummerCamp {
		&__container {
			max-width: $screen-md-min;
		}
	}
}