
/*
 * Colors
 * ========================================================================== */



$salmon: #FFBCBF;
$lime: #C7FFAD;
$navy: #2E294B;

$mint: #AAFAC8;
$babyyellow: #EDFFCE;
$babyblue: #C7FFED;
$grey: #BBC8CA;
$darkteal: #223843;
$white: #EFF1F3;

$teal: #24D7FF;

$overlay-grey: rgba(0, 0, 0, 0.7);


/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min: 480px;  /* Extra small screen / phone */
$screen-sm-min: 768px;  /* Small screen / tablet */
$screen-md-min: 992px;  /* Medium screen / desktop */
$screen-lg-min: 1200px; /* Large screen / wide desktop */
$screen-xl-min: 1920px; /* Large screen / wide desktop */


/*
 * Header Heights
 * ========================================================================== */

$header-height-xs-min: 89px;  /* Extra small screen / phone */
$header-height-sm-min: 77px;  /* Small screen / tablet */
