
/*
 * Colors
 * ========================================================================== */


$salmon-dark: #E46C7A;
$salmon: #FFBCBF;

$white: #FFFFFF;
$greywhite: #EFF1F3;

$teal: #24D7FF;
$teal-light: #7DD9ED;

$brown: #351b00;
$blackbrown: #291400;
$blackbrown-transparent: rgba(41, 20, 0, 0.5);

$tan-dark: #663b2b;
$tan: #C59D5F;

$overlay-grey-mobile: rgba(256, 256, 256, 0.75);
$overlay-grey-non-mobile: rgba(256, 256, 256, 0.80);


/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min: 480px;  /* Extra small screen / phone */
$screen-sm-min: 768px;  /* Small screen / tablet */
$screen-md-min: 992px;  /* Medium screen / desktop */
$screen-lg-min: 1200px; /* Large screen / wide desktop */
$screen-xl-min: 1920px; /* Large screen / wide desktop */


/*
 * Header Heights
 * ========================================================================== */

$header-height-xs-min: 66px;  /* Extra small screen / phone */
$header-height-sm-min: 77px;  /* Small screen / tablet */
