
/*
 * Colors
 * ========================================================================== */



$salmon: #FFBCBF;
$lime: #C7FFAD;
$navy: #2E294B;

$mint: #AAFAC8;
$babyyellow: #EDFFCE;
$babyblue: #C7FFED;
$grey: #BBC8CA;
$darkteal: #223843;
$white: #EFF1F3;

$teal: #24D7FF;

