@import './variables.scss';

.WinterProgram {
	&__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
	}
}

/* Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.WinterProgram {
		&__container {
			max-width: $screen-md-min - 50px;
		}
	}
}


/* XL Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.WinterProgram {
		&__container {
			max-width: $screen-md-min;
		}
	}
}