@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Header {
	background-color: $white;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	
	
	&__container {
		margin: 0 auto;
		max-width: $screen-sm-min - 50px;
	}
	
	&__container--mobile {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
	
	&__logo {
		align-items: center;
		display: flex;
		justify-content: left;
		padding: 5px 0 6px 15px;
		text-decoration: none;
		
		&-image {
			background: url('../../images/StemChefLogo.svg') no-repeat;
			height: 55px;
			width: 55px;
		} 
		
		&-text {
			color: $blackbrown;
			font-family: 'Jacques Francois', serif;
			font-size: 42px;
			margin: 0;
			padding-left: 10px;
			text-decoration: none;
		}
	}
	
	.Header__logo-text--part1 {
		color: $salmon-dark;
	}
	
	.Header__logo-text--part2 {
		color: $tan-dark;
	}
	
	&__menu {
		align-items: center;
		background-color: $white;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: flex-start;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		transform: translateX(100vw);
		transition: transform 1s ease;
		width: 100vw;
	}
	
	
	/* Menu closed --- */
	&__menu-toggle {
		background-color: $white;
		border-bottom: 3px solid $blackbrown;
		border-left: none;
		border-right: none;
		border-top: 3px solid $blackbrown;
		display: block;
		height: 17px;
		outline: none;
		margin-right: 15px;
		position: relative;
		text-indent: 100vw; /*Push menu text off of screen*/
		white-space: nowrap;
		width: 30px;
	}
	
	&__menu-toggle:before,
	&__menu-toggle:after {
		background: $blackbrown;
		content: "";
		height: 3px;
		left: 0px;
		position: absolute;
		top: 4px;
		transform: rotate(0);
		transition: transform 0.25s, background .5s;
		width: 100%;	
	}
	
	/* Menu open X */
	
	&__menuOpen {
		
		.Header__menu {
			transform: translateX(0);
			transition: transform 1s ease;
		}
		
		.Header__menu-toggle {
			border: none;
		}

		.Header__menu-toggle:before,
		.Header__menu-toggle:after {
			background: $blackbrown;
			content: "";
			height: 3px;
			left: 0px;
			position: absolute;
			top: 7px;
			width: 100%;	
		}
		
		.Header__menu-toggle:before {
			transform: rotate(-45deg);
			transition: transform 0.25s;
		}

		.Header__menu-toggle:after {
			transform: rotate(45deg);
			transition: transform 0.25s;
		}
		
		
	}
	
	

	
	& li {
		align-items: center;
		display: flex;
	}
	
	&__navItem {
		color: $blackbrown;
		display: block;
		font-size: 18px;
		height: 100%;
		padding: 15px 0;
		text-align: center;
		text-decoration: none;
		width: 100vw;
	}
	
	&__navItem:hover,
	&__navItem:focus, {
		background-color: $salmon-dark;
		color: $white;
	}
	
	&__navItem--selected {
		background-color: $salmon-dark;
		color: $white;
	}
	
	&__fb {
		background: url('../../images/facebook-official.svg') no-repeat;
		background-position: center;
		display: block;
		height: 40px;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		width: 40px;
	}
	
} 



/* Media Sizes */

@media (min-width: $screen-sm-min) {
	.Header {
	
		&__container {
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			max-width: $screen-sm-min - 50px;
		}
		
		&__logo {
		
			&-image {
				background: url('../../images/StemChefLogo.svg') no-repeat;
				height: 60px;
				width: 60px;
			} 

			&-text {
				font-size: 46px;
			}
		}
		
		&__menu-toggle {
			display: none;
		}
	
		&__menu {
			align-items: center;
			background-color: $white;
			display: flex;
			flex-direction: row;
			height: $header-height-sm-min;
			justify-content: space-between;
			margin: 0;
			padding: 0;
			position: static;
			transform: translateX(0);  /*Just in case menu toggle is set*/
			width: 400px;
		}
		
		&__navItem {
			border-bottom: none;
			font-size: 16px;
			line-height: 16px;
			padding: 4px 5px 1px;
			width: auto;
		}
		
		&__navItem--selected {
			background-color: $white;
			border-bottom: none;
			color: $blackbrown;
			font-weight: bold;
		}
	
		&__navItem:hover,
		&__navItem:focus, {
			background-color: $white;
			border-bottom: none;
			color: $blackbrown;
		}
		
		&__underline {
			border-bottom: 2px solid transparent;
		}
		
		&__navItem--selected .Header__underline,
		&__underline:hover,
		&__underline:focus {
			border-bottom: 2px solid $blackbrown;
		}
		
		&__fb {
			height: 25px;
			margin-left: 15px;
			width: 25px;
		}
	}
	
}

/* Desktop Screen Size */

@media (min-width: $screen-md-min) {
	.Header {
		&__container {
			max-width: $screen-md-min - 50px;
		}
		
		&__logo {
		
			&-image {
				height: 65px;
				width: 65px;
			} 

			&-text {
				font-size: 50px;
			}
		}
		
		&__menu {
			width: 500px;
		}
		
		&__navItem {
			padding: 4px 15px 1px;
			width: auto;
		}
	}
}

/* XL Desktop Screen Size */

@media (min-width: $screen-lg-min) {
	.Header {
		&__container {
			max-width: $screen-md-min;
		}
	}
}
