@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Footer {
	background-color: $brown;
	padding: 8px 0;
	
	&__logo-image {
			background: url('../../images/StemChefLogo.svg') no-repeat;
			margin: 0 auto;
			height: 40px;
			width: 40px;
		}
	
	&__copyright {
		
		color: $white;
		display: block;
		text-align: center;
	}
	
	
}